@import "../../responsive.scss";

.dashBoardCards {
  display: grid;
  gap: 1rem;
  z-index: 1;
  overflow: hidden;

 
  @include xxxl{
    grid-template-columns: repeat(4,1fr);
  } 

  @include xxl{
    grid-template-columns: repeat(3,1fr);
  }

  @include lg{
    grid-template-columns: repeat(3,1fr);
  }

  @include md{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
  }

  // @media (max-width:768){
  //   grid-template-columns: repeat(2,1fr);

  // }

  @media screen and (max-width: 920px) {
    grid-template-columns: repeat(3,1fr);
  }


  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3,1fr);
  }

  @media screen and (max-width: 540px) {
    grid-template-columns: repeat(2,1fr);
  }


  @include sm{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }
  
}
