@import "../../responsive.scss";

.dashBoardCard {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  width: 300px;
  height: 300px;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.07);
  }

  @include xl{
    width: 250px;
    height: 250px;   
  }

  @include md{
    width: 230px;
    height: 230px;
  }


  @include sm{
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .course-card__image {
    border-radius: 5px;
    height: 290px;
    margin-bottom: 10px;
    object-fit: contain;
    width: 100%;
  }

  .course-card__content {
    .course-card__title {
      font-family: "Rubik", sans-serif;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 5px;
      text-align: center;

      @include md{
        font-size: 20px;
      }

      @include sm{
        font-size: 12px;
      }
    }
  }
  .course-card__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    .course-card__button {
      display: flex;
      align-items: center;
      background-color: #613787;
      color: #fff;
      border: none;
      padding: 10px 15px;
      font-size: 20px;
      cursor: pointer;
      justify-content: center;
      font-weight: 500;
      width: 100%;

      @include md{
        font-size: 16px;
      }

      @include sm{
        font-size: 12px;
        padding: 5px 10px;
      }

      &:first-child {
        border-radius: 5px 0px 0px 5px;
        border-right: 2px solid white;
      }

      &:last-child {
        border-radius: 0px 5px 5px 0px;
      }
    }
  }
}
