@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Itim&family=Permanent+Marker&family=Slabo+27px&display=swap');

  .studentDashboard {
    background: #e0fbfc;
    .mainSection {
      display: flex;
      width: 100%;
      overflow: hidden;
      min-height: 90vh;
      position: relative;

      @media (max-width: 1200px) {
        height: 100%
      }
    }
  }

