@import "../../responsive.scss";

.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 1rem 2rem;
    top: 0;
    background: linear-gradient(to left,#52216e 0%,#493078 30%,#2b669c 50%,#52216e  100%);
    transition: all 0.4s ease-in-out;
  
    .app__navbar-btn__section {
      
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 10px;
      img {
        height: 40px;
        width: 40px;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;

        @include sm{
         display: none;
        }

        @include md{
          display: none;
        }
      }
  
      .options {
        display: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #512b81;
        color: white;
        border-radius: 5px;
        top: 100%;
        right: 0;
        z-index: 999;
  
        span {
          font-weight: 500;
          cursor: pointer;
          white-space: nowrap;
          font-size: 20px;
          color: aliceblue;
          display: inline-block;
          padding: 10px;
          width: 100%;
          &:hover {
            background: #661fbd;
          }
        }
  
        hr {
          border: 0;
          height: 2px;
          background-color: white;
          opacity: 0.5;
        }
      }
    }
  }
  
  .app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    img {
      width: 100%;
      height: 45px;
      margin-top: 12px;
      object-fit: contain;
  
      @media screen and (min-width: 2000px) {
        width: 180px;
        height: 110px;
      }
    }
  }
  
  .app__navbar-links {
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
    li {
      margin: 0 1rem;
      cursor: pointer;
      flex-direction: column;
  
      div {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-bottom: 5px;
      }
  
      a {
        color: rgb(244, 244, 244);
        text-decoration: none;
        text-transform: capitalize;
        flex-direction: column;
        font-weight: 500;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          color: white;
        }
      }
  
      &:hover {
        div {
          background-color: white;
        }
      }
    }
  
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  
  .app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    
    svg {
      width: 70%;
      height: 70%;
      color: var(--white-color);
    }
  
    div {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      padding: 1rem;
      width: 80%;
      height: 100vh;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      background-color: var(--white-color);
      background-size: cover;
      background-repeat: repeat;
      
        background: white;
    
  
      box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
  
      svg {
        width: 35px;
        height: 35px;
        color: var(--secondary-color);
        margin: 0.5rem 1rem;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
  
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
  
        li {
          margin: 1rem;
  
          a {
            color: var(--gray-color);
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
  
            transition: all 0.3s ease-in-out;
  
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
  
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  